body
{
	background-color: #008000;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: 900;
	color: #000000;
	line-height: inherit;
	border-width: 5px;
	padding: 5px;
	margin: 5px;
}
