body
{
	background-position: inherit center;
	background-image: url('../Image/background.jpg');
	background-repeat: no-repeat;
	font-family: 幼圆;
	font-size: xx-large;
	font-weight: 800;
	color: #0000FF;
}
